@use "sass:map";

@import "./cake.css";
@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../vendor/ballstatecber/datacenter-plugin-cakephp4/webroot/css/datacenter.scss";
@import "../../vendor/ballstatecber/datacenter-plugin-cakephp4/webroot/css/tag_editor.scss";

#sidebar {
  h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;

    &:first-of-type {
      margin-top: 0;
    }

    &[data-toggle="collapse"] {
      cursor: pointer;
    }
  }

  button.navbar-toggler {
    float: right;
    font-size: 100%;
    padding: 4px;
  }
}

@media (min-width: map.get($grid-breakpoints, "md")) {
  #sidebar {
    h2[data-toggle="collapse"] {
      cursor: text;
    }
  }
}

ul.tags {
  li {
    display: inline;
    margin-right: 0.5em;

    &:after {
      content: '\2022';
      margin-left: 0.5em;
    }

    &:last-child:after {
      content: '';
    }
  }
}

#login-link {
  display: inline-block;
  font-size: 80%;
  margin-top: 20px;
}

#partners-list {
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }
  }
}

#tags-list {
  font-size: 0.85em;
}

section.release {
  clear: right;

  h1,
  h1 a,
  h1 a:visited, {
    color: #cc0000;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .under-headline {

  }

  .graphics {
    background-color: #eee;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;

    h2 {
      border-bottom: 1px solid #ddd;
    }

    ul {
      margin: 0;
    }

    a {
      display: inline-block;
      height: 100%;
      text-align: center;
      text-transform: uppercase;
      width: 195px;

      &:hover {
        text-decoration: none;

        img {
          border: 1px solid #c02;
        }
      }
    }

    img {
      border: 1px solid #aaa;
      max-height: 195px;
      max-width: 195px;
    }

    li {
      display: inline-block;
      vertical-align: top;
      width: 195px;
    }
  }

  p.tags,
  p.authors {
    font-size: 80%;
    text-transform: uppercase;
  }

  .partner {
    text-transform: uppercase;
  }

  .date {
    font-style: italic;
  }

  .controls {
    display: inline-block;
    margin-bottom: 10px;

    img {
      margin-right: 3px;
      vertical-align: top;
    }

    a {
      margin: 0 5px;
    }
  }

  .description {
    margin-top: 1em;
  }
}

.releases {
  .release {
    border-bottom: 1px solid #ccc;
    padding: 3em 0;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.releases-list {
  td:first-child {
    padding: 7px 7px 7px 0;
    white-space: nowrap;
    width: 125px;
  }

  td:last-child {
    padding: 7px;
  }

  tr:nth-child(even) td {
    background-color: #eee;
  }
}

#years-list {
  li {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
}

#remember-me {
  margin-right: 0.5em;
}

table.graphics {
  width: 100%;

  td,
  th {
    text-align: center;
    vertical-align: baseline;
  }

  tbody td,
  tbody th {
    padding: 3px;
  }

  tfoot {
    tr.add-graphic th {
      text-align: left;
    }

    th {
      font-weight: normal;
      text-align: left;
    }
  }

  .report-choices > div {
    background-color: #f0f0f0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #aaa;
    margin-bottom: 10px;
    max-height: 300px;
    overflow: auto;
    text-align: left;
  }

  .input-group {
    label,
    input {
      text-align: left;
      width: 200px;
    }
  }

  div.input {
    margin-bottom: 0;
  }

  div.file {
    max-width: 230px;
    overflow: hidden;
  }

  input[type=text] {
    width: 150px;
  }
}

.list-reports-buttons {
  float: right;
}

#author-select {
  margin-bottom: 0;
}

#authors-container {
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 20px;

  button {
    background: none;
    border: 1px solid transparent;
    color: red;
    font-size: 1.5em;
    font-weight: bold;

    &:focus {
      border-color: red;
    }
  }
}

#new-author-container {
  .btn {
    margin-right: 0.5rem;
  }
}

fieldset.release-form {
  margin-top: 3em;
}

.select-report {
  button.report {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.select-report-instructions {
  clear: both;
}

#upload-reports-progress-container {
  display: none;
}

#releases-admin {
  tbody {
    td:nth-child(2),
    td:nth-child(3) {
      white-space: nowrap;
    }
  }
}

#ReleaseForm {
  table.graphics {
    input[type=file] {
      max-width: fit-content;
      min-width: 190px;
      overflow: hidden;
    }
  }
}
